*{
    margin: 0;
    padding: 0;
}
.header{
    position: sticky;
    top: 0;
    z-index: 99;
}
.navigation{
    

    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
    &__list{

        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    &__item {
        padding: 5px 10px;
        // background-color:red;
        
        margin: 0 10px;
        


       
    }
    
    &__link{
        font-weight: bold;
        text-decoration: none;
        color: rgb(255, 255, 255);
        
        &:hover{
            color: rgb(128, 128, 128);
        }
    }
}