.resume{
    &-heading{
        font-size: 2rem;
        font-weight: bolder;
        text-transform: uppercase;
    }
}
.education{
    &__heading{

    }
    &__content{

    }
    &__wrapper{
        padding: 10px;
        border-radius: 5px;
        transition: 0.5s ;
    }
    &__element{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 500px;
        margin: 0 auto;
        border-radius: 10px;
        text-align: start;
        
        &:hover{
            &::before{
                width: 500px;
                height: 100%;
                transition: 0.4s;
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            z-index: -1;
            width: 0;
            height: 0;
            
            opacity: 0.5;
            border-radius: 10px;

            
        }
        &:hover .education__wrapper{
            border: red 2px solid;
        }
    }
    &__year{
        font-weight: 100;
        
    }
    &__occupation{
        font-size: 1.35rem;
        font-weight: bold;
    }
    &__university{
        color: red;
    }
}

.technology{
    display: flex;
    flex-direction: column;
    height: 100%;
    &__body{
        display: flex;
        flex-direction: column;
    }
    
    &__heading{
        font-size: 1.5rem;
        text-transform: uppercase;

    }
   
    &-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:1.75rem;
        // text-align: center;
        padding: 10px 0;
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    &__html{
        background-color: red;

    }
    &__css{
        background-color: blue;

    }
    &__js{
        background-color: yellow;

    }
    &__react{
        background-color: skyblue;

    }

}

.swiper {
    margin-top: 20px;
    padding: 20px 0;
    width: 240px;
    height: 320px;
    &-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        color: #fff;
    }
}